/* 中间banner */

.banner img {
    width: 100%;
}


/* 头部开始 */

.header {
    height: 80px;
}

.header .icon {
    float: left;
    margin-left: 250px;
    width: 334px;
    height: 65px;
    margin-top: 15px;
}

.header .nav {
    position: relative;
    height: 100%;
    width: 575px;
    float: right;
    margin-right: 250px;
}

.header .nav ul {
    float: right;
    margin-top: 15px;
}

.header .nav ul li {
    float: left;
    margin-right: 61px;
}

.header .nav ul li:hover {
    cursor: pointer;
}


/* 定义滑块 */

.huakuai {
    position: absolute;
    left: 333px;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #6bbd03;
}


/* 中间飓风案例开始 */

.boutiqueCase .jufengDemo .font {
    width: 900px;
    height: 60px;
    background: url('../images/精品案例切图.png') no-repeat 0 -4px;
    margin: 100px auto 60px;
}

.boutiqueCase .jufengDemo .demos {
    width: 780px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.boutiqueCase .jufengDemo .demos ul {
    display: flex;
    justify-content: space-between;
    color: #666;
}

.boutiqueCase .jufengDemo .demos ul li {
    background-color: #fff;
    width: 110px;
    height: 30px;
    border: 1px solid #ccc;
    font: 400 12px/30px 'Boutique case';
    text-align: center;
    cursor: pointer;
    position: relative;
}


/* .boutiqueCase .jufengDemo .demos ul li:hover {
    background: url('../images/精品案例切图.png') no-repeat -12px -85px;
    color:white;
} */


/* .boutiqueCase .jufengDemo .demos ul li:hover::after {
    content: '';
    display: block;
    position: absolute;
    height: 11px;
    width: 18px;
    background: url('../images/精品案例切图.png') no-repeat -60px -115px;
    left: 42%;
} */

.boutiqueCase .jufengDemo .demos ul li.active {
    background: url('../images/精品案例切图.png') no-repeat -12px -85px;
    color: white;
}

.boutiqueCase .jufengDemo .demos ul li.active::after {
    content: '';
    display: block;
    position: absolute;
    height: 11px;
    width: 18px;
    background: url('../images/精品案例切图.png') no-repeat -60px -115px;
    left: 42%;
}


/* 中间飓风案例结束 */


/* 中间案例列表开始 */

.boutiqueCase .imgList {
    width: 1203px;
    margin: 0 auto;
}

.boutiqueCase .imgList ul {
    display: flex;
    justify-content: space-between;
}

.boutiqueCase .imgList ul li {
    width: 377px;
    height: 303px;
    margin-top: 37px;
    position: relative;
}

.boutiqueCase .imgList ul li .kuang {
    width: 338px;
    height: 219px;
    background-color: #dddddd;
    position: relative;
    left: 20px;
    top: 20px;
    transition: all 0.7s ease;
}

.boutiqueCase .imgList ul li:hover .kuang {
    background-color: #bbd39b;
}

.boutiqueCase .imgList ul li .kuang span {
    position: absolute;
    padding: 17px;
    border-style: solid;
    border-color: #ddd;
    transition: all 0.7s ease;
}

.boutiqueCase .imgList ul li:hover .kuang span {
    border-color: #6bbd03;
}

.boutiqueCase .imgList ul li .kuang .row1 {
    border-width: 5px 0 0 5px;
    top: -15px;
    left: -15px;
}

.boutiqueCase .imgList ul li .kuang .row2 {
    border-width: 5px 5px 0 0;
    top: -15px;
    right: -15px;
}

.boutiqueCase .imgList ul li .kuang .col1 {
    border-width: 0 0 5px 5px;
    bottom: -15px;
    left: -15px;
}

.boutiqueCase .imgList ul li .kuang .col2 {
    border-width: 0 5px 5px 0;
    bottom: -15px;
    right: -15px;
}

.boutiqueCase .imgList ul li .text1 {
    position: absolute;
    bottom: 24px;
    left: 22px;
    font-size: 18px;
    color: #666;
}

.boutiqueCase .imgList ul li .text2 {
    position: absolute;
    bottom: 0;
    left: 22px;
    color: #888;
}


/* 中间案例列表结束 */


/* 中下方的页码跳转开始 */

.boutiqueCase .fenye {
    width: 1203px;
    height: 160px;
}

.boutiqueCase .fenye .ye {
    height: 25px;
    width: 360px;
    float: right;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    font: 400 12px/25px '微软雅黑';
    color: #666;
}

.boutiqueCase .fenye .ye .before,
.boutiqueCase .fenye .ye .after {
    width: 40px;
    height: 100%;
    cursor: pointer;
}

.boutiqueCase .fenye .ye ul {
    width: 145px;
    display: flex;
    justify-content: space-between;
}

.boutiqueCase .fenye .ye ul li {
    float: left;
    cursor: pointer;
    width: 21px;
    text-align: center;
}

.activeBgc {
    color: white;
    background-color: #6bbd03;
}

.boutiqueCase .fenye .ye .tiaozhuang input {
    width: 26px;
    height: 10px;
}

.boutiqueCase .fenye .ye .tiaozhuang {
    /* margin-top: -3px; */
    cursor: pointer;
}


/* .boutiqueCase .fenye .ye .after{
    float: left;
}
.boutiqueCase .fenye .ye .tiaozhuang{
    float: right;
} */


/* 中下方的页码跳转结束 */