/* 中间banner */

.banner img {
    width: 100%;
}


/* 头部开始 */

.header {
    height: 80px;
}

.header .icon {
    float: left;
    margin-left: 250px;
    width: 334px;
    height: 65px;
    margin-top: 15px;
}

.header .nav {
    position: relative;
    height: 100%;
    width: 575px;
    float: right;
    margin-right: 250px;
}

.header .nav ul {
    float: right;
    margin-top: 15px;
}

.header .nav ul li {
    float: left;
    margin-right: 61px;
}

.header .nav ul li:hover {
    cursor: pointer;
}


/* 定义滑块 */

.huakuai {
    position: absolute;
    left: 91px;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: #6bbd03;
}


/* 头部结束 */


/* 中间网站建设开始 */

.buildWeb .middleWeb .font {
    width: 910px;
    height: 60px;
    margin: 100px auto 55px;
    background: url('../images/网站建设切图.png') no-repeat 0 -13px;
}

.buildWeb .middleWeb .text {
    width: 1000px;
    margin: 0 auto;
    font: 400px 16px/16px '微软雅黑';
    color: #3c3740;
}


/* 中间网站建设结束 */


/* 中间pc端定制开始 */

.buildWeb .pc .font {
    width: 910px;
    height: 60px;
    margin: 100px auto 55px;
    background: url('../images/网站建设切图.png') no-repeat 0 -90px;
}

.buildWeb .pc .pcImg ul {
    width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.buildWeb .pc .pcImg ul li {
    width: 150px;
    height: 200px;
}

.buildWeb .pc .pcImg ul li .font1 {
    width: 150px;
    height: 152px;
    cursor: pointer;
}

.buildWeb .pc .pcImg ul li .text {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    height: 46px;
    font: 600 18px/18px "微软雅黑";
    color: #666;
}

.buildWeb .pc .pcImg ul li:nth-child(1) .font1 {
    background: url('../images/网站建设切图.png') no-repeat -24px -177px;
}

.buildWeb .pc .pcImg ul li:nth-child(2) .font1 {
    background: url('../images/网站建设切图.png') no-repeat -24px -363px;
}

.buildWeb .pc .pcImg ul li:nth-child(3) .font1 {
    background: url('../images/网站建设切图.png') no-repeat -24px -551px;
}

.buildWeb .pc .pcImg ul li:nth-child(4) .font1 {
    background: url('../images/网站建设切图.png') no-repeat -24px -738px;
}

.buildWeb .pc .pcImg ul li:nth-child(1):hover .font1 {
    background: url('../images/网站建设切图.png') no-repeat -215px -177px;
}

.buildWeb .pc .pcImg ul li:nth-child(2):hover .font1 {
    background: url('../images/网站建设切图.png') no-repeat -215px -363px;
}

.buildWeb .pc .pcImg ul li:nth-child(3):hover .font1 {
    background: url('../images/网站建设切图.png') no-repeat -215px -551px;
}

.buildWeb .pc .pcImg ul li:nth-child(4):hover .font1 {
    background: url('../images/网站建设切图.png') no-repeat -215px -738px;
}


/* 中间pc端定制结束 */


/* 中间手机端定制开始 */

.buildWeb .phone .font {
    width: 910px;
    height: 60px;
    margin: 100px auto 55px;
    background: url('../images/网站建设切图.png') no-repeat 0 -940px;
}

.buildWeb .phone .phoneImg ul {
    width: 770px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.buildWeb .phone .phoneImg ul li {
    width: 152px;
    height: 200px;
}

.buildWeb .phone .phoneImg ul li .font1 {
    width: 152px;
    height: 154px;
    cursor: pointer;
}

.buildWeb .phone .phoneImg ul li .text {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    height: 46px;
    font: 600 18px/18px "微软雅黑";
    color: #666;
}

.buildWeb .phone .phoneImg ul li:nth-child(1) .font1 {
    background: url('../images/网站建设切图.png') no-repeat -456px -177px;
}

.buildWeb .phone .phoneImg ul li:nth-child(2) .font1 {
    background: url('../images/网站建设切图.png') no-repeat -456px -357px;
}

.buildWeb .phone .phoneImg ul li:nth-child(3) .font1 {
    background: url('../images/网站建设切图.png') no-repeat -456px -537px;
}

.buildWeb .phone .phoneImg ul li:nth-child(1):hover .font1 {
    background: url('../images/网站建设切图.png') no-repeat -662px -177px;
}

.buildWeb .phone .phoneImg ul li:nth-child(2):hover .font1 {
    background: url('../images/网站建设切图.png') no-repeat -662px -357px;
}

.buildWeb .phone .phoneImg ul li:nth-child(3):hover .font1 {
    background: url('../images/网站建设切图.png') no-repeat -662px -537px;
}


/* 中间手机端定制结束 */


/* 中间经典案例开始 */

.buildWeb .jingdian {
    margin-bottom: 50px;
}

.buildWeb .jingdian .font {
    width: 910px;
    height: 60px;
    margin: 100px auto 55px;
    background: url('../images/网站建设切图.png') no-repeat 0 -940px;
}

.buildWeb .jingdian .jingdianImg ul {
    width: 1203px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.buildWeb .jingdian .jingdianImg ul li {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 390px;
}

.buildWeb .jingdian .jingdianImg ul li img {
    width: 100%;
}

.buildWeb .jingdian .jingdianImg ul li .text {
    width: 100%;
    height: 100px;
    margin-top: -5px;
    transition: all 0.7s ease;
}

.buildWeb .jingdian .jingdianImg ul li .text .text1 {
    padding: 24px 0 0 14px;
    color: #666;
    transition: all 0.7s ease;
}

.buildWeb .jingdian .jingdianImg ul li .text .text2 {
    padding: 0 0 0 14px;
    color: #777;
    transition: all 0.7s ease;
}

.buildWeb .jingdian .jingdianImg ul li:hover .text {
    background-color: #6bbd03;
}

.buildWeb .jingdian .jingdianImg ul li:hover .text1,
.buildWeb .jingdian .jingdianImg ul li:hover .text2 {
    color: white;
}


/* 中间经典案例结束 */