    /* 头部开始 */

    .header {
        height: 80px;
    }

    .header .icon {
        float: left;
        margin-left: 250px;
        width: 334px;
        height: 65px;
        margin-top: 15px;
    }

    .header .nav {
        position: relative;
        height: 100%;
        width: 575px;
        float: right;
        margin-right: 250px;
    }

    .header .nav ul {
        float: right;
        margin-top: 15px;
    }

    .header .nav ul li {
        float: left;
        margin-right: 61px;
    }

    .header .nav ul li:hover {
        cursor: pointer;
    }

    /* 定义滑块 */

    .huakuai {
        position: absolute;
        left: 0px;
        bottom: 0;
        width: 30px;
        height: 2px;
        background-color: #6bbd03;
    }

    /* 中间banner开始 */

    /* 中间banner结束 */

    /* 中间网站建设开始 */

    .buildWeb .font {
        width: 286px;
        height: 77px;
        margin: 98px auto 73px;
        background: url("../images/首页切图.png") no-repeat 0px 0px;
    }

    .buildWeb .icons {
        width: 1000px;
        margin: 0 auto;
    }

    .buildWeb .icons ul {
        display: flex;
        justify-content: space-between;
    }

    .buildWeb .icons li {
        float: left;
    }

    .buildWeb .icons li:nth-child(1) .liBG {
        width: 190px;
        height: 193px;
        background: url("../images/首页切图.png") no-repeat 0px -100px;
    }

    .buildWeb .icons li:nth-child(2) .liBG {
        width: 190px;
        height: 193px;
        background: url("../images/首页切图.png") no-repeat 0px -310px;
    }

    .buildWeb .icons li:nth-child(3) .liBG {
        width: 190px;
        height: 193px;
        background: url("../images/首页切图.png") no-repeat 0px -520px;
    }

    .buildWeb .icons li:nth-child(4) .liBG {
        width: 190px;
        height: 193px;
        background: url("../images/首页切图.png") no-repeat 0px -730px;
    }

    .buildWeb .icons li:nth-child(1) .liBG:hover {
        background: url("../images/首页切图.png") no-repeat -230px -100px;
    }

    .buildWeb .icons li:nth-child(2) .liBG:hover {
        background: url("../images/首页切图.png") no-repeat -230px -310px;
    }

    .buildWeb .icons li:nth-child(3) .liBG:hover {
        background: url("../images/首页切图.png") no-repeat -230px -520px;
    }

    .buildWeb .icons li:nth-child(4) .liBG:hover {
        background: url("../images/首页切图.png") no-repeat -230px -728px;
    }

    .buildWeb .icons li .text {
        font-size: 18px;
        margin: 37px auto 103px;
        text-align: center;
        font-weight: 600;
        font-family: '微软雅黑';
        color: #808080;
    }

    /* 中间网站建设结束 */

    /* 中间产品服务开始 */

    .productService .font {
        width: 286px;
        height: 77px;
        margin: 98px auto 73px;
        background: url("../images/首页切图.png") no-repeat -524px 0px;
    }

    .productService .icons {
        width: 1200px;
        margin: 0 auto;
    }

    .productService .icons ul {
        display: flex;
        justify-content: space-between;
    }

    .productService .icons li {
        float: left;
        width: 292px;
        height: 205px;
        border: 1px solid #ccc;
        position: relative;
        transition: all 0.7s ease;
    }

    .productService .icons li:hover {
        cursor: pointer;
        border: 1px solid #6bbd03;
    }

    .productService .icons li .text1 {
        text-align: center;
        margin: 60px auto 26px;
        font-weight: 600;
        font-family: '微软雅黑';
        font-size: 17px;
        color: #666666;
    }

    .productService .icons li .fontMo {
        font-size: 13px;
        line-height: 20px;
    }

    .productService .icons li .text2, .productService .icons li .text3, .productService .icons li .text4 {
        text-align: center;
    }

    .productService .icons li .icon {
        width: 57px;
        height: 63px;
        position: absolute;
        left: 41%;
        top: -31px;
    }

    .productService .icons li:nth-child(1) .icon {
        background: url("../images/首页切图.png") no-repeat -524px -106px;
    }

    .productService .icons li:nth-child(2) .icon {
        background: url("../images/首页切图.png") no-repeat -524px -184px;
    }

    .productService .icons li:nth-child(3) .icon {
        background: url("../images/首页切图.png") no-repeat -524px -264px;
    }

    .productService .icons li:nth-child(4) .icon {
        background: url("../images/首页切图.png") no-repeat -524px -343px;
    }

    .productService .icons li:nth-child(1):hover .icon {
        background: url("../images/首页切图.png") no-repeat -620px -106px;
    }

    .productService .icons li:nth-child(2):hover .icon {
        background: url("../images/首页切图.png") no-repeat -620px -184px;
    }

    .productService .icons li:nth-child(3):hover .icon {
        background: url("../images/首页切图.png") no-repeat -620px -264px;
    }

    .productService .icons li:nth-child(4):hover .icon {
        background: url("../images/首页切图.png") no-repeat -620px -343px;
    }

    /* 中间产品服务结束 */

    /* 中间自研产品开始 */

    .excellentCase {
        width: 1440px;
    }

    .excellentCase .font {
        width: 286px;
        height: 77px;
        margin: 98px auto 73px;
        background: url("../images/首页切图.png") no-repeat -524px -459px;
    }

    .excellentCase .productImg {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .excellentCase .productImg .imgLeft, .excellentCase .productImg .imgCenter, .excellentCase .productImg .imgRight {
        width: 100%;
        margin-right: 15px;
    }

    .excellentCase .productImg .imgLeft .top, .excellentCase .productImg .imgCenter .top, .excellentCase .productImg .imgRight .top, .excellentCase .productImg .imgLeft .bottom, .excellentCase .productImg .imgCenter .bottom, .excellentCase .productImg .imgRight .bottom {
        margin-bottom: 15px;
        position: relative;
    }

    .excellentCase .productImg .imgCenter .top {
        margin-bottom: 8px;
    }

    .excellentCase .productImg .imgLeft div, .excellentCase .productImg .imgCenter div, .excellentCase .productImg .imgRight div {
        cursor: pointer;
        width: 100%;
    }

    .excellentCase .productImg .imgLeft .top .text1, .excellentCase .productImg .imgCenter .top .text1, .excellentCase .productImg .imgRight .top .text1, .excellentCase .productImg .imgLeft .bottom .text1, .excellentCase .productImg .imgCenter .bottom .text1, .excellentCase .productImg .imgRight .bottom .text1 {
        display: none;
        position: absolute;
        /* text-align: center; */
        left: 130px;
        top: 104px;
        color: white;
        font-size: 24px;
    }

    .excellentCase .productImg .imgLeft .bottom .text1, .excellentCase .productImg .imgCenter .top .text1, .excellentCase .productImg .imgRight .bottom .text1 {
        top: 138px;
    }

    .excellentCase .productImg .imgLeft .top .text2, .excellentCase .productImg .imgCenter .top .text2, .excellentCase .productImg .imgRight .top .text2, .excellentCase .productImg .imgLeft .bottom .text2, .excellentCase .productImg .imgCenter .bottom .text2, .excellentCase .productImg .imgRight .bottom .text2 {
        display: none;
        position: absolute;
        left: 130px;
        /* text-align: center; */
        top: 137px;
        color: white;
        font-size: 23px;
        /* font-weight: 700; */
    }

    .excellentCase .productImg .imgLeft .bottom .text2, .excellentCase .productImg .imgCenter .top .text2, .excellentCase .productImg .imgRight .bottom .text2 {
        top: 170px;
    }

    .excellentCase .productImg .imgLeft .top .bgcd, .excellentCase .productImg .imgCenter .top .bgcd, .excellentCase .productImg .imgRight .top .bgcd, .excellentCase .productImg .imgLeft .bottom .bgcd, .excellentCase .productImg .imgCenter .bottom .bgcd, .excellentCase .productImg .imgRight .bottom .bgcd {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #6bbd03;
        transition: all 0.4s ease;
        opacity: 0;
    }

    .excellentCase .productImg .imgLeft .bottom:hover .bgcd, .excellentCase .productImg .imgCenter .bottom:hover .bgcd, .excellentCase .productImg .imgRight .bottom:hover .bgcd, .excellentCase .productImg .imgLeft .top:hover .bgcd, .excellentCase .productImg .imgCenter .top:hover .bgcd, .excellentCase .productImg .imgRight .top:hover .bgcd {
        opacity: 0.7;
    }

    .excellentCase .productImg .imgLeft .top:hover .text1, .excellentCase .productImg .imgLeft .top:hover .text2, .excellentCase .productImg .imgCenter .top:hover .text1, .excellentCase .productImg .imgCenter .top:hover .text2, .excellentCase .productImg .imgRight .top:hover .text1, .excellentCase .productImg .imgRight .top:hover .text2, .excellentCase .productImg .imgLeft .bottom:hover .text1, .excellentCase .productImg .imgLeft .bottom:hover .text2, .excellentCase .productImg .imgCenter .bottom:hover .text1, .excellentCase .productImg .imgCenter .bottom:hover .text2, .excellentCase .productImg .imgRight .bottom:hover .text1, .excellentCase .productImg .imgRight .bottom:hover .text2 {
        display: block;
    }

    .excellentCase .productImg .imgLeft .top {
        width: 461px;
        height: 267px;
        overflow: hidden;
    }

    .excellentCase .productImg .imgLeft .bottom {
        width: 461px;
        height: 360px;
        overflow: hidden;
    }

    .excellentCase .productImg .imgLeft .bottom img {
        margin-left: 5px;
    }

    .excellentCase .productImg .imgCenter .top {
        width: 467px;
        height: 355px;
        overflow: hidden;
        margin-bottom: 14px;
    }


    .excellentCase .productImg .imgCenter .bottom {
        width: 467px;
        height: 271px;
        overflow: hidden;
    }

    .excellentCase .productImg .imgRight .top {
        width: 465px;
        height: 269px;
        overflow: hidden;
    }

    .excellentCase .productImg .imgRight .bottom {
        width: 465px;
        height: 355px;
        overflow: hidden;
        background-color: #dbdbdb;
    }

    .excellentCase .productImg .imgRight .bottom img {
        display: block;
        margin: 35px auto;
    }

    /* 中间自研产品结束 */

    /* 中间精品案例开始 */

    .excellentDemo .font {
        width: 286px;
        height: 77px;
        margin: 98px auto 73px;
        background: url("../images/首页切图.png") no-repeat -524px -575px;
    }

    .excellentDemo .demoImg {
        width: 100%;
    }

    .excellentDemo .demoImg ul {
        display: flex;
    }

    .excellentDemo .demoImg ul li {
        width: 25%;
        height: 100%;
        flex: 1;
        position: relative;
        overflow: hidden;
        background-color: #000;
        cursor: pointer;
    }
    .excellentDemo .demoImg ul li a {
        display: block;
        width: 480px;
        height: 320px;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    .excellentDemo .demoImg ul li a img{
        width: 100%;
        height: 100%;
    }
    /* .excellentDemo .demoImg ul li.s img {
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
    }
    .excellentDemo .demoImg ul li.o img {
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
    } */

    .excellentDemo .demoImg ul li.s a {
        transform: scale(1.3);
    }
    .excellentDemo .demoImg ul li.o a {
        opacity: 0.6;
    }

    /* .excellentDemo .demoImg ul li:hover img{
        transform: scale(1.3);
    } */

    /* .excellentDemo .demoImg ul li:hover img{
        transform: scale(1.3);
        opacity: 0.6;
    } */

    /* .excellentDemo .demoImg ul:not(li:hover)  img{
        opacity: 0.6;
    } */

    .excellentDemo .demoImg ul li .box {
        /* display: none; */
        width: 100%;
        height: 0px;
        position: absolute;
        bottom: 0;
        /* background-color: #6bbd03;
        opacity: 0.5; */
        background-color: rgba(107, 189, 03, 0.5);
        transition: all 0.3s ease;
    }

    .excellentDemo .demoImg ul li:hover .box {
        /* display: block; */
        height: 52px;
        z-index: 10;
    }

    .excellentDemo .demoImg ul li .box .text {
        color: white;
        margin: 13px 0 0 27px;
        font-size: 19px;
        font-weight: 600;
        z-index: 3;
    }

    /* .excellentDemo .demoImg ul li .banBlack{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0);
        opacity: 0;           
    
    } */

    /* 中间精品案例结束 */

    /* 中间建设流程开始 */

    .station .font {
        width: 286px;
        height: 77px;
        margin: 98px auto 73px;
        background: url("../images/首页切图.png") no-repeat -524px -693px;
    }

    .station img:nth-child(2) {
        display: block;
        margin: 0 auto 90px;
        width: 1202px;
    }

    .station img:nth-child(3) {
        display: block;
        margin: 0 auto;
    }

    .station {
        position: relative;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    .station .text1 {
        position: absolute;
        left: 22%;
        top: 25%;
    }

    .station .text2 {
        position: absolute;
        left: 31%;
        top: 32%;
    }

    .station .text3 {
        position: absolute;
        left: 39%;
        top: 26%;
    }

    .station .text4 {
        position: absolute;
        left: 47%;
        top: 36%;
    }

    .station .text5 {
        position: absolute;
        left: 56%;
        top: 28%;
    }

    .station .text6 {
        position: absolute;
        left: 64%;
        top: 37%;
    }

    .station .text7 {
        position: absolute;
        left: 75%;
        top: 32%;
    }

    /* 中间建设流程结束 */

    /* 中间联系我们开始 */

    .contactUs .font {
        width: 286px;
        height: 77px;
        margin: 98px auto 73px;
        background: url("../images/首页切图.png") no-repeat -524px -809px;
    }

    .contactUs .contain {
        width: 1050px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .contactUs .contain .table {
        width: 531px;
        position: relative;
    }

    .contactUs .contain .table input {
        width: 350px;
        height: 39px;
        margin: 0 63px 10px 94px;
        padding-left: 17px;
    }

    .contactUs .contain .table textarea {
        width: 350px;
        height: 98px;
        margin: 0 93px 10px 94px;
        padding-left: 17px;
        padding-top: 10px;
    }

    .contactUs .contain .table input[type="submit"] {
        background-color: #6bbd03;
        color: white;
        width: 250px;
        height: 45px;
        position: absolute;
        left: 55px;
        bottom: -71px;
        cursor: pointer;
        border: none;
    }

    .contactUs .contain .lianxi ul {
        width: 545px;
        height: 253px;
        border-left: 1px solid #aaa;
    }

    .contactUs .contain .lianxi ul li {
        padding-left: 52px;
        padding-top: 10px;
        font: 400 16px/40px '微软雅黑';
        color: #474747;
        margin-bottom: 5px;
    }

    .contactUs .contain .lianxi ul li:nth-child(1) {
        padding-top: 0;
    }

    .contactUs .contain .lianxi ul li::before {
        content: '';
        width: 23px;
        height: 28px;
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: 5px;
    }

    .contactUs .contain .lianxi ul li:nth-child(1):before {
        background: url("../images/首页切图.png") no-repeat -17px -970px;
    }

    .contactUs .contain .lianxi ul li:nth-child(2)::before {
        background: url("../images/首页切图.png") no-repeat -92px -970px;
    }

    .contactUs .contain .lianxi ul li:nth-child(3)::before {
        background: url("../images/首页切图.png") no-repeat -168px -970px;
    }

    .contactUs .contain .lianxi ul li:nth-child(4)::before {
        background: url("../images/首页切图.png") no-repeat -243px -970px;
    }

    .contactUs .contain .lianxi ul li:nth-child(5)::before {
        background: url("../images/首页切图.png") no-repeat -319px -970px;
    }

    /* 中间联系我们结束 */

    /* 中间关于我们开始 */

    .aboutUs {
        position: relative;
    }

    .aboutUs .font {
        width: 286px;
        height: 77px;
        margin: 170px auto 73px;
        background: url("../images/首页切图.png") no-repeat -524px -925px;
    }

    .aboutUs .text {
        width: 1060px;
        margin: 0 auto;
        font-size: 16px;
        color: #666;
        margin-bottom: 100px;
    }

    .aboutUs .bgcImg {
        position: absolute;
        width: 490px;
        height: 306px;
        background: url('../images/关于我们背景.png') no-repeat;
        top: 51px;
        right: 380px;
    }

    /* 中间关于我们结束 */

    .banner img, .banner1 img, .station img {
        display: block;
        width: 100%;
    }